{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Login.css') }}" />
    <link rel="stylesheet" href="{{ asset('CSS/FloatLabel.css') }}" />
{% endblock %}

{% block body %}

<main class="MainLogin">

    {% embed 'Partials/Notice.html.twig' %}{% endembed %}
    {% embed 'Partials/Error.html.twig' %}{% endembed %}

    <div>
        <h2>CONNEXION</h2>
    </div>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="FormGroup">
        <input class="FormControl" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
               placeholder="username" required autofocus>
            <label class="FormLabel" for="inputUsername">Username</label>
        </div>

        <div class="FormGroup">
            <input class="FormControl" type="password" name="password" id="inputPassword" class="form-control" placeholder="password.." required>
            <label class="FormLabel" for="inputPassword">Password</label>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="BConnexion" type="submit">
            Connexion
        </button>
    </form>

</main>
{% endblock %}
