
<div id="experiences" class="CVList">

{% for Cv in CVList %}
    <div class="CvCard">

        <div class="Infos">
            <div class="Title">{{ Cv.Title }}</div>
            <div class="Company">{{ Cv.Company }}</div>
            <div class="Description"><pre class="DescriptionPre">{{ Cv.Description }}</pre></div>
        </div>

        <div class="Date">
                {{ Cv.StartDate }}<span class="Fleche">→</span>{{ Cv.EndDate }}
        </div>

        {% if Mode == 'Backo' %}
            <a href="{{ path('UpdateCVForm', {'id' : Cv.getId()}) }}" class="UpdateXPButton">Modifier</a>
        {% endif %}
    </div>
{% endfor %}
</div>


