
<header>

    <section class="HeaderBarre">

        <section class="Left">

            <h1 class="Title"><a href="{{ path('main') }}">Walid MOUSSA</a></h1>
            <h2 class="SubTitle">Développeur web full stack</h2>

                <nav class="MenuNav">
                    <ul>
                        <li><a href="{{ path('main') }}#top" class="LinkNav TitlePresentation">#Présentation</a></li>
                        <li><a href="{{ path('main')}}#experiences" class="LinkNav TitleXP">#Expériences</a></li>
                        <li><a href="{{ path('main') }}#portfolio" class="LinkNav TitlePortfolio">#Portfolio</a></li>
                        <li><a href="{{ path('contact') }}" class="LinkNav TitleContact">#Contact</a></li>
                    </ul>

                </nav>
        </section>

        {% embed 'Partials/SocialMenu.html.twig' %}{% endembed %}

        <section class="ContactHeader">
                <p class="InfoContact">0664131026</p>
                <p class="InfoContact">contact@walidm.xyz</p>
        </section>

    </section>

    <input type="checkbox" id="menu-toggle"/>
        <label id="trigger" for="menu-toggle"></label>
        <label id="burger" for="menu-toggle"></label>

         <ul id="menu">
             <li class="Title">walidm.xyz</li>
             <li><a href="{{ path('main') }}#top" class="LinkNav TitlePresentation">#Présentation</a></li>
             <li><a href="{{ path('main')}}#experiences" class="LinkNav TitleXP">#Expériences</a></li>
             <li><a href="{{ path('main') }}#portfolio" class="LinkNav TitlePortfolio">#Portfolio</a></li>
             <li><a href="{{ path('contact') }}" class="LinkNav TitleContact">#Contact</a></li>
        </ul>

</header>


