{% extends 'base.html.twig' %}

{% block title %}walidm.xyz{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/CVCard.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/CurriculumMain.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Porfolio.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/ProjectCard.css') }}"/>



{% endblock %}

{% block body %}
<main>

    <section class="PresentationBackground">
         {% embed 'Partials/Presentation.html.twig' %}{% endembed %}
    </section>

    {#Section CV....#}
    {% embed 'Partials/Curriculum.html.twig' %}{% endembed %}

    <section id="portfolio" class="Portfolio">
        <h2 class="TitlePortfolio">#Portfolio</h2>
        <p class="InfoPortfolio">(oui bon, y a pas grand chose, mais ça arrive..)</p>
        <div id="root"></div>
    </section>

</main>


{% endblock %}


