{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/CVCard.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/CurriculumMain.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Porfolio.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/ProjectCard.css') }}"/>



{% endblock %}

{% block body %}
<main>

    <section class="Presentation">
        <p>Bienvenue sur mon site personnel !<br/>
            Ce site est mon "curriculum vitae", et vous présente ce que j'ai fais en tant que développeur web, et mobile.</p>
    </section>

    {#Section CV....#}
    {% embed 'Partials/Curriculum.html.twig' %}{% endembed %}

    <section class="Portfolio">
        <h2 class="Title">#Portfolio</h2>
        <div id="root"></div>

    </section>

</main>


{% endblock %}


