{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Projet.css') }}"/>
{% endblock %}
{% block body %}


    <main class="ProjetMain">

        <h2 class="Title">{{ Projet.getTitle() }}</h2>

        <div class="PresentationProjet">
            <a href="{{ Projet.getLink() }}" target="_blank"><img class="Image" src="{{ asset('Imgs/'~ImageDirectory) }}" /></a>
            <p class="Description">{{ Projet.getDescription() }}</p>

            {% if not Projet.getGithub() == "..." %}
                <div class="Links">
                      <img class="GitHubIcon" src="{{ asset('Imgs/githubicon.png') }}"/><a class="GithubLink" href="{{ Projet.getGithub() }}">{{ Projet.getGithub() }}</a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
