{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/FloatLabel.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Contact.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/NoticeMsg.css') }}"/>


{% endblock %}

{% block body %}

    <main class="ContactMain">

        {% embed 'Partials/Error.html.twig' %}{% endembed %}
        {% embed 'Partials/Notice.html.twig' %}{% endembed %}


        <div class="PreContact">
            <p>Vous pouvez utiliser le formulaire ci-dessous afin de me contacter.</p>
        </div>

        <section class="FormContact">

            {{ form_start(Form) }}

                <div class="FormGroup" >
                    {{ form_widget(Form.lastname) }}
                    {{ form_label(Form.lastname) }}
                </div>
                <div class="FormGroup" >
                    {{ form_widget(Form.firstname) }}
                    {{ form_label(Form.firstname) }}
                </div>
                <div class="FormGroup" >
                    {{ form_widget(Form.mail) }}
                    {{ form_label(Form.mail) }}
                </div>
                <div class="FormGroup FormGroupTextarea" >
                    {{ form_widget(Form.message) }}
                    {{ form_label(Form.message) }}
                </div>

            {{ form_widget(Form.submit) }}

            {{ form_end(Form) }}

        </section>
    </main>
{% endblock %}
