{% extends 'base.html.twig' %}

{% block title %}Ajouter une expérience..{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Backo/Backo.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/FloatLabel.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Backo/AddForm.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/NoticeMsg.css') }}"/>

{% endblock %}

{% block body %}


    <main class="BackoMain">
        {% embed 'Partials/Notice.html.twig' %}{% endembed %}
        {% embed 'Partials/Error.html.twig' %}{% endembed %}

        <section class="AddForm">
            <p class="Title">
                {% if Mode == 'Add' %}
                Ajouter
                {% elseif Mode == 'Update' %}
                Modifier
                {% endif %}
                une nouvelle expérience :
            </p>

            {{ form_start(Form) }}

            <div class="FormGroup" >
                {{ form_widget(Form.title) }}
                {{ form_label(Form.title) }}
            </div>
            <div class="FormGroup" >
                {{ form_widget(Form.company) }}
                {{ form_label(Form.company) }}
            </div>
            <div class="FormGroup FormGroupTextarea" >
                {{ form_widget(Form.description) }}
                {{ form_label(Form.description) }}
            </div>
            <div class="FormGroup" >
                {{ form_widget(Form.start_date) }}
                {{ form_label(Form.start_date) }}
            </div>
            <div class="FormGroup" >
                {{ form_widget(Form.end_date) }}
                {{ form_label(Form.end_date) }}
            </div>

            {% if Mode == 'Add' %}
              {{ form_widget(Form.submit, {'label':'Ajouter une expérience'}) }}
            {% elseif Mode == 'Update' %}
              {{ form_widget(Form.submit, {'label':'Modifier cette expérience'}) }}<br/>
               <a href="{{ path('DeleteXP', {'id' : CV.getId()} ) }}" class="Delete">Supprimer cette expérience ? </a>
            {% endif %}

            {{ form_end(Form) }}
        </section>
    </main>
{% endblock %}
